/* Переменные цветов */
:root {
  --color-bg-light: #ffffff;
  --color-bg-dark: #121212;
  --color-text-light: #000000;
  --color-text-dark: #ffffff;
  --color-accent: rgb(255, 0, 129);
  --color-accent-secondary: rgb(255, 153, 205);
  --color-hover-bg: rgba(255, 0, 129, 0.2);
  --font-family-main: 'Onest';
  --font-size-main: 1.4rem;
  --font-size-small: 1.0rem;
  --font-line-height: 1.4;
}

/* Стили для светлой и темной темы */
body {
  font-family: var(--font-family-main);
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
  .link.secondary {
    color: var(--color-text-dark) !important;
  }
  .fixed-header {
    background-color: var(--color-bg-dark) !important;
  }
}

/* Контейнер */
.container {
  display: flex;
  width: 100%;
}



/* Фиксированная шапка */
.fixed-header {
  position: fixed;
  width: 100%;
  background-color: var(--color-bg-light);
  z-index: 1000;
  padding: 0.6em 0 0.6em 0;
  margin: 0 auto;
}

/* Список контактов */
.contact-info {
  list-style: none;
  display: flex; /* Горизонтальное расположение */
  gap: 2em; /* Расстояние между элементами */
  margin: 0 auto;
  padding: 0;
  justify-content: flex-start; /* Элементы выравнены в начале строки */
  align-items: center; /* Центровка по вертикали */
  width: 55%;
  align-items: flex-start
}

/* Элементы списка */
.contact-info li {
  margin: 0;
  padding: 0;
}




/* Ссылки */
.link {
  color: var(--color-accent);
  text-decoration: none;
  /*transition: background-color 0.3s;*/
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  margin-left: -0.4rem;
  z-index: 999;
}

.link:hover {
  background-color: var(--color-hover-bg);
}

.link.secondary {
  color: var(--color-text-light);
  border-bottom: 1px solid var(--color-hover-bg);
}

/* Правая часть */
main {
  width: 60%;
  margin: 0 auto;
  padding: 4em 2em;
  box-sizing: border-box;
}

/* Заголовок и текст */
h1, h2 {
  font-weight: 700;
  font-size: var(--font-size-main);
  margin-bottom: 1.0rem;
  margin-top: 4.0rem;
}

p {
  font-size: var(--font-size-main);
  line-height: var(--font-line-height);
  margin-bottom: 1.0rem;
  font-weight: 400;
}

.small-text {
  font-size: var(--font-size-small);
}

/* Цитата */
blockquote {
  border-left: 1px solid var(--color-accent);
  padding-left: 1em;
  margin-left: -1em;
  color: inherit;
}

/* Изображение */
.main-image {
  width: 170%;
  margin-left: -35%;
}

.avatar {
  width: 30%;
  height: 30%;
  border-radius: 0.2em;
  display: block;
  margin-bottom: 1rem;
}

/* Стили списка с заменой буллита */
.custom-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  font-size: var(--font-size-main);
}

.custom-list li::before {
  content: "·";
  color: var(--color-accent);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.image-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.image-block {
  text-align: center;
  position: relative;
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  margin-left: -30px; /* Перекрытие блоков */
  z-index: 0; /* Базовый слой */
}

.image-block:nth-child(1) {
  z-index: 3; /* Первая картинка поверх всех */
}

.image-block:nth-child(2) {
  z-index: 2; /* Вторая картинка под первой, но поверх третьей */
}

.image-block:nth-child(3) {
  z-index: 1; /* Третья картинка ниже всех */
}

.image {
  width: 110%; /* Задайте нужную ширину картинки */
  transition: transform 0.3s ease;
}

.image:hover {
  transform: rotate(3deg) scale(1.1); /* Поворот и увеличение */
}

.image-block:nth-child(2) .image:hover {
  transform: rotate(-3deg) scale(1.1); /* Поворот влево и увеличение */
}

.caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333; /* Цвет текста подписи */
}

.divider::after {
  content: "✦ ✿ ❋";
  display: block;
  padding: 1.4em 0;
  width: 100%;
  text-align: center;
}




/* Адаптивная версия для мобильных */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    top: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
  }

  .container {
    flex-direction: column;
  }

  main {
    width: 100%;
    margin: 0;
    padding-top: 4rem; /* чтобы не пересекаться с фиксированным sidebar */
  }

  .contact-info {
    display: flex;
    gap: 0.4em;
    padding-right: 0.5rem;
  }

  .sidebar {
    background-color: var(--color-bg-light);
    border-top: 1px solid var(--color-accent-secondary);
    
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-bg-dark);
    }
  }

  .cv-resume {
    display: none;
  }

  .main-image {
    width: 120%;
    margin: 0 -2em;
  }

  .contact-info {
    margin: 0 1em;
  }

  .contact-info li:first-child {
    display: none;
  }
}
