/* Переменные цветов */
:root {
  --color-bg-light: #ffffff;
  --color-bg-dark: #121212;
  --color-text-light: #000000;
  --color-text-dark: #ffffff;
  --color-accent: rgb(255, 0, 129);
  --color-accent-secondary: rgb(255, 153, 205);
  --color-hover-bg: rgba(255, 0, 129, 0.2);
  --font-family-main: 'Onest';
  --font-size-main: 1.4rem;
  --font-size-small: 1.0rem;
  --font-line-height: 1.4;
}

/* Стили для светлой и темной темы */
body {
  font-family: var(--font-family-main);
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}

/* Контейнер */
.container {
  display: flex;
  width: 100%;
}

/* Левая фиксированная часть */
.sidebar {
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar p {
  font-size: var(--font-size-small);
  margin: 0;
}

/* Контакты внизу */
/*.contact-info {
  list-style-type: none;
  padding: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.contact-info li {
  margin-bottom: 0.5rem;
}*/

.contact-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 1.0rem;
}


.contact-info .link:hover {
  background-color: var(--color-hover-bg);
  text-decoration: none;
}

/* Ссылки */
.link {
  color: var(--color-accent);
  text-decoration: none;
  /*transition: background-color 0.3s;*/
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  margin-left: -0.4rem;
}

.link:hover {
  background-color: var(--color-hover-bg);
}

.link.secondary {
  color: var(--color-text-light);
  border-bottom: 1px solid var(--color-hover-bg);
}

/* Правая часть */
main {
  width: 70%;
  margin-left: 30%;
  padding: 2rem;
  box-sizing: border-box;
}

/* Заголовок и текст */
h1, h2 {
  font-weight: 700;
  font-size: var(--font-size-main);
  margin-bottom: 1.0rem;
  margin-top: 4.0rem;
}

p {
  font-size: var(--font-size-main);
  line-height: var(--font-line-height);
  margin-bottom: 1.0rem;
  font-weight: 400;
}

/* Цитата */
blockquote {
  border-left: 1px solid var(--color-accent);
  padding-left: 1em;
  margin-left: -1em;
  color: inherit;
}

/* Изображение */
.main-image {
  width: 100%;
}

.avatar {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  display: block;
  margin-bottom: 1rem;
}

/* Стили списка с заменой буллита */
.custom-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  font-size: var(--font-size-main);
}

.custom-list li::before {
  content: "·";
  color: var(--color-accent);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Адаптивная версия для мобильных */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    top: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
  }

  .container {
    flex-direction: column;
  }

  main {
    width: 100%;
    margin: 0;
    padding-top: 4rem; /* чтобы не пересекаться с фиксированным sidebar */
  }

  .contact-info {
    display: flex;
    gap: 1rem;
    padding-right: 0.5rem;
  }

  .sidebar {
    background-color: var(--color-bg-light);
    border-top: 1px solid var(--color-accent-secondary);
    
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-bg-dark);
    }
  }
}
